<div class="settingslist">

{% for option in site.data.config-options %}
  {% if
    option.Key contains include.prefix and
    option.ExpertiseLevel <= include.expertise and
    option.ReleaseLevel <= include.release
  %}
  <div class="setting">
    <!-- Header -->
    <h5 id="{{ option.Key }}" class="header">
      {{ option.Name }}
      <small>
        {% if site.data.config-manual[option.Key].layered %}
          &nbsp;&nbsp;
          <span class="layered">
            <i class="fa fa-user-circle"></i>
            Configurable per App
          </span>
        {% else %}
          &nbsp;&nbsp;
          <span class="global">
            <i class="fa fa-globe"></i>
            Global Only
          </span>
        {% endif %}

        {% if option.RequiresRestart %}
          &nbsp;&nbsp;
          <span class="restart">
            <i class="fa fa-refresh"></i>
            Requires Restart
          </span>
        {% endif %}

        {% if option.Annotations["safing/portbase:options:stackable"] %}
          &nbsp;&nbsp;
          <span class="stackable">
            <i class="fa fa-bars"></i>
            Stackable
          </span>
        {% endif %}

        {% if option.ExpertiseLevel == 1 %}
          &nbsp;&nbsp;
          <span class="advanced">Advanced</span>
        {% elsif option.ExpertiseLevel == 2 %}
          &nbsp;&nbsp;
          <span class="developer">Developer</span>
        {% endif %}

        {% if option.ReleaseLevel == 1 %}
          &nbsp;&nbsp;
          <span class="beta">Beta</span>
        {% elsif option.ReleaseLevel == 2 %}
          &nbsp;&nbsp;
          <span class="experimental">Experimental</span>
        {% endif %}

        {% if include.dev %}
          &nbsp;&nbsp;
          <span class="key">
            <i class="fa fa-code"></i>
            {{ option.Key }}
          </span>
        {% endif %}

      </small>
    </h5>
    
    <!-- Explanation -->
    <p>
      {{ option.Description }}
    </p>
    {% if include.manual and site.data.config-manual[option.Key] %}
    <p>
      {{ site.data.config-manual[option.Key].manual }}
    </p>
    {% endif %}

    <!-- Possible Values -->
    <div class="values">
      {% if option.PossibleValues %}
        Possible Values:
        <ul>
          {% for value in option.PossibleValues %}
          <li {% if value.Value == option.DefaultValue %}class="default"{% endif %}>
            <strong>{{ value.Name }}</strong>
            {% if include.dev %}
              (
              <i class="fa fa-code"></i>
              <code>{{ value.Value }}</code>
              )
            {% endif %}
            : {{ value.Description }}
          </li>
          {% endfor %}
        </ul>
      {% else %}
        Default Value:
        {% case option.OptType %}
        {% when 1 %}
          <code>{{ option.DefaultValue }}</code> (string)
        {% when 2 %}
          <code>{{ option.DefaultValue | join: ", " }}</code> (string array)
        {% when 3 %}
          <code>{{ option.DefaultValue | default: 0 }}</code> (integer)
        {% when 4 %}
          <code>{{ option.DefaultValue | default: false }}</code> (boolean)
        {% endcase %}
      {% endif %}

      {% if option.Help != "" %}
        <h6>Formatting Help:</h6>
        <p>
          {{ option.Help | markdownify }}
        </p>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
